<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Thorium.Beer - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="http://dd58d482324888e2ee02-a7b127e0d8b7487c5933cbe965f92cbd.r61.cf1.rackcdn.com/favicon.ico">
    {% endblock %}
    </head>
    <body>
    {% block body %}
        <center>
            <a href="/">
                <img src="http://dd58d482324888e2ee02-a7b127e0d8b7487c5933cbe965f92cbd.r61.cf1.rackcdn.com/thorium.png" />
            </a>
        </center>
        {% block menu %}
        <center>
            <br />
            <br />
            <br />
            <a href="/beer/nasa">Normal.Ass.Strong.Ale</a> ||
            <a href="/beer/tekno_viking">Tekno Viking</a> ||
            <a href="/beer/nagapa">Nagapa</a> ||
            <a href="/beer/nonstickrobot">Nonstick Robot</a> ||
            <a href="/beer/dark_remedy">Dark Remedy</a> ||
            <a href="/beer/rye_of_rha">Rye Of Rha</a> ||
            <a href="/beer/ladybug">Ladybug</a> ||
            <a href="/beer/reactor">Reactor</a> ||
        </center>
        <br />
        <br />
        <br />
        {% endblock %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </body>
</html>

