{% extends "base.html" %}
{% block title %}{{ beer_name }}{% endblock %}
{% block content %}
<div align="center">
{% if beer_name == "tekno_viking" %}
<p>Name: Tekno Viking</p>
<p>Style: Russian Imperial Stout</p>
<p>ABV: 13%</p>
<p>Bitterness: 60.5 IBUs</p> 
<p>Color: 38.7 SRM</p>
<p>Our Flagship stout dark and roasty. This Russian Imperial Stout features
Roasted Barley, Brown and Chocolate Malts and is hopped with Brewers Gold and Northen Brewer. A delicous beer to be shared with a robust body and dry finish.</p>
{% endif %}
{% if beer_name  == "nasa" %}
{% endif %}
{% if beer_name  == "nagapa" %}
{% endif %}
{% if beer_name  == "reactor" %}
{% endif %}
{% if  beer_name  == "ladybug" %}
{% endif %}
{% if {beer_name  == "rye_of_rha" %}
{% endif %}
{% if beer_name == "dark_remedy" %}
{% endif %}
{% if beer_name == "nonstickrobot" %}
{% endif %}
</div>
{% endblock %}
