{% extends "base.html" %}
{% block title %}{{ beer_name }}{% endblock %}
{% block content %}
<div align="center">
{% if beer_name == "tekno_viking" %}
<p>
Name: Tekno Viking<br>
Style: Russian Imperial Stout<br>
ABV: 13%<br>
Bitterness: 60.5 IBUs<br>
Color: 38.7 SRM<br>
Our Flagship stout dark and roasty.<br>
This Russian Imperial Stout features Roasted Barley, Brown and Chocolate Malts.<br>
This beer is hopped with Brewers Gold and Northen Brewer.<br>
A delicous beer to be shared with a robust body and dry finish.</p>
{% endif %}
{% if beer_name  == "nasa" %}
<p>Name: Normal.Ass.Strong.Ale<br>
Style: American Strong Ale<br>
ABV: 7.5%<br>
Bitterness: 35.2 IBUs<br>
Color: 23.1 SRM<br>
A simple straightforward American Strong Ale.<br> 
Made with American 2 row, special b malts and Honey Malt.<br> 
Hopped with Brewer's Gold and Northern Brewer</p>
{% endif %}
{% if beer_name  == "nagapa" %}
<p>Name: Nagapa<br>
Style: India Brown Ale<br>
ABV: 8.1%<br>
Bitterness: 59.7 IBUs<br>
Color: 28.9 SRM<br>
A new style for a new brewer a take on an American brown ale but hopped up and ready to go.<br>
This delicious beer has floral notes with a caramel finish.<br> 
Made with American Two Row pale malt, Chocolate, Victory and Caramel 60 Malts.<br>
Hopped with Amarillo, Cascade and Centennial.</p>
{% endif %}
{% if beer_name  == "reactor" %}
<p>Name: Reactor IPA<br>
Style: Imperial IPA<br>
ABV: 11.1%<br>
Bitterness: 69.6 IBUs<br>
Color: 12.7 SRM<br>
Our Flagship IPA crisp and bitter.<br>
This Imperial IPA features American Two Row pale malts, White Wheat Malt, Caramel 60 and special b malts.<br>
It is hopped with Amarillo, Cascade and Centennial</p>
{% endif %}
{% if  beer_name  == "ladybug" %}
<p>Name: Ladybug<br>
Style: Red IPA<br>
ABV: 7.3%<br>
Bitterness: 50.9 IBUs<br>
Color: 6.4 SRM<br>
This IPA is crisp and fresh and an easy drinker.<br>
Featuring American Two Row Malts, Red Wheat and Caravienne Malt.<br>
This beer is hopped with only Cascade to provide a lovely floral taste without being too bitter.</p>
{% endif %}
{% if beer_name  == "rye_of_rha" %}
<p>Name: Rye of Rha<br>
Style: Rye IPA<br>
ABV: 9.1%<br>
Bitterness: 45.1 IBUs<br>
Color: 10.0 SRM<br>
A Rye IPA sutible for the gods light and spicy with a dry finish.<br>
This IPA features American Two Row Pale Malts, Wheat Malt, Rye Malt, Crystal 60, and Carapils.<br>
Hopped with Glacier, Magnum and Cascade. Makes for a lovely spicy beer.</p>
{% endif %}
{% if beer_name == "dark_remedy" %}
<p>Name: Dark Remedy<br>
Style: Imperial Belgian Dark Ale<br>
ABV: 12.9%<br>
Bitterness: 18.0 IBUs<br>
Color: 79.8 SRM<br>
A truly unique beer unlike any you have probably ever tasted. Rich dark chocolate and rasin notes followed by a crisp and robust finish.<br> 
This Belgian dark strong features American two row Pale Malts, Chocolate, Special b, Caramunich, Crystal 120 malts and in house made Dark Belgian Candy sugar.<br>
Lightly Hopped with Northern Brewer.</p>
{% endif %}
{% if beer_name == "nonstickrobot" %}
<p>Name: Nonstickrobot
Style: American Porter
ABV: 7.1%
Bitterness: 36.2 IBUs
Color: 38.5 SRM
A classic style featuring a rich body and dye finish.<br>
This American Porter features American two row Pale Malts, Black, Chocolate, Roasted and Caramel 40 Malts.<br>
Lightly hopped with Northern Brewer.</p>
{% endif %}
</div>
{% endblock %}
