{% extends "base.html" %}
{% block title %}{{ beer_name }}{% endblock %}
{% block content %}
<div align="center">
{% if beer_name == "tekno_viking" %}
<p>
Name: Tekno Viking<br>
Style: Russian Imperial Stout<br>
ABV: 13%<br>
Bitterness: 60.5 IBUs<br>
Color: 38.7 SRM<br>
Our Flagship stout dark and roasty.<br>
This Russian Imperial Stout features Roasted Barley, Brown and Chocolate Malts.<br>
This beer is hopped with Brewers Gold and Northen Brewer.<br>
A delicous beer to be shared with a robust body and dry finish.</p>
{% endif %}
{% if beer_name  == "nasa" %}
<p>Name: Normal.Ass.Strong.Ale</p>
<p>Style: American Strong Ale</p>
<p>ABV: 7.5%</p>
<p>Bitterness: 35.2 IBUs</p> 
<p>Color: 23.1 SRM</p>
<p>A simple streightforward American Strong Ale. Made with American 2 row, special b malts and Honey Malt. Hopped with Brewer's Gold and Northern Brewer</p>
{% endif %}
{% if beer_name  == "nagapa" %}
<p>Name: Nagapa</p>
<p>Style: India Brown Ale</p>
<p>ABV: 8.1%</p>
<p>Bitterness: 59.7 IBUs</p> 
<p>Color: 28.9 SRM</p>
<p>A new style for a new brewer a take on an American brown ale but hopped up and ready to go. This delicious beer has floral notes with a caramel finish. Made with American Two Row pale malt, Chocolate, Victory and Caramel 60 Malts. Hopped with Amarillo, Cascade and Centennial.</p>
{% endif %}
{% if beer_name  == "reactor" %}
<p>Name: Reactor IPA</p>
<p>Style: Imperial IPA</p>
<p>ABV: 11.1%</p>
<p>Bitterness: 69.6 IBUs</p> 
<p>Color: 12.7 SRM</p>
<p>Our Flagship IPA crisp and bitter. This Imperial IPA features
American Two Row pale malts, White Wheat Malt, Caramel 60 and special b malts. It is hopped with Amarillo, Cascade and Centennial</p>
{% endif %}
{% if  beer_name  == "ladybug" %}
<p>Name: Ladybug</p>
<p>Style: Red IPA</p>
<p>ABV: 7.3%</p>
<p>Bitterness: 50.9 IBUs</p> 
<p>Color: 6.4 SRM</p>
<p>This IPA is crisp and fresh and an easy drinker. Featuring American Two Row Malts, Red Wheat and Caravienne Malt. This beer is hopped with only Cascade to provide a lovely floral taste without being too bitter.</p>
{% endif %}
{% if beer_name  == "rye_of_rha" %}
<p>Name: Rye of Rha</p>
<p>Style: Rye IPA</p>
<p>ABV: 9.1%</p>
<p>Bitterness: 45.1 IBUs</p> 
<p>Color: 10.0 SRM</p>
<p>A Rye IPA sutible for the gods light and spicy with a dry finish. This IPA features American Two Row Pale Malts, Wheat Malt, Rye Malt, Crystal 60, and Carapils. Hopped with Glacier, Magnum and Cascade. Makes for a lovely spicy beer.</p>
{% endif %}
{% if beer_name == "dark_remedy" %}
<p>Name: Dark Remedy</p>
<p>Style: Imperial Belgian Dark Ale</p>
<p>ABV: 12.9%</p>
<p>Bitterness: 18.0 IBUs</p> 
<p>Color: 79.8 SRM</p>
<p>A truly unique beer unlike any you have probably ever tasted. Rich dark chocolate and rasin notes followed by a crisp and robust finish. This Belgian dark strong features American two row Pale Malts, Chocolate, Special b, Caramunich,  Crystal 120 malts and in house made Dark Belgian Candy sugar. Lightly Hopped with Northern Brewer.</p>
{% endif %}
{% if beer_name == "nonstickrobot" %}
<p>Name: Nonstickrobot</p>
<p>Style: American Porter</p>
<p>ABV: 7.1%</p>
<p>Bitterness: 36.2 IBUs</p> 
<p>Color: 38.5 SRM</p>
<p>A classic style featuring a rich body and dye finish. This American Porter features American two row Pale Malts, Black, Chocolate, Roasted and Caramel 40 Malts. Lightly hopped with Northern Brewer.</p>
{% endif %}
</div>
{% endblock %}
